<!doctype html>
<html>
  <head>
  
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    
      <nav class="purple nav-extended">
          <div class="nav-wrapper">
              <a href="#!" class="brand-logo center">{% block page %}{% endblock %}</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              
              <ul id="mobile-demo" class="sidenav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/users">Users</a></li>
                  <li><a href="/students">Students</a></li>
                  {% if is_authenticated %}
                    <li><a href="/identify">Identify</a></li>
                    <li><a href="/todos">Add Task</a></li>
                    <li><a href="/todos-calendar">Calendar</a></li>
                  {% endif %}
              </ul>

              <div> 
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                  <li class="options"><a class="{{ 'active-tab' if active_tab == 'home' else '' }}" href="/" target="_self">Home</a></li>
                  <li class="options"><a class="{{ 'active-tab' if active_tab == 'users' else '' }}" href="/users" target="_self">Users</a></li>
                  <li class="options"><a class="{{ 'active-tab' if active_tab == 'students' else '' }}" href="/students" target="_self">Students</a></li>
                  {% if is_authenticated %}
                    <li class="options"><a class="{{ 'active-tab' if active_tab == 'identify' else '' }}" href="/identify" target="_self">Identify</a></li>
                    <li class="options"><a class="{{ 'active-tab' if active_tab == 'todos' else ''}}" href="{{url_for('todo_views.get_todos_by_date', year_month_day=year_month_day)}}">Add Task</a></li>
                    <li class="options"><a class="{{ 'active-tab' if active_tab == 'todos-calendar' else '' }}" href="/todos-calendar" target="_self">Calendar</a></li>
                  {% endif %}
                </ul>
              </div>
              
              {% if is_authenticated %}
              <ul id="nav-mobile" class="right">
                <li><a href="/logout">Logout</a></li>
              </ul>
              {% else %}
              <form class="right navbar-form" method="POST" action="/login" style="display: flex; flex-wrap: nowrap; align-items: center; margin-right: 10px;">
                  <div class="input-field" style="margin-right: 10px;">
                      <input placeholder="username" value="Nicholas Pariag" name="username" type="text" class="validate" required>
                      <label for="username">username</label>
                  </div>
                  <div class="input-field" style="margin-right: 10px;">
                      <input placeholder="password"value="nickpass" name="password" type="password" class="validate">
                      <label for="password">Password</label>
                  </div>
                  <button type="submit" class="btn waves-effect waves-light">Login</button>
              </form>
              {% endif %}
              
          </div>

      </nav>
      <style>
          .navbar-form label {
              color: white !important;
          }
      </style>

    <div class="container" id="content">{% block content %}{% endblock %}</div>

    <script src="{{ url_for('static', filename='todo.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
       M.AutoInit();   

        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                M.toast({html: '{{message}}'})
              {% endfor %}
          {% endif %}
        {% endwith %}
    </script>

    <script>
      function activateOption(optionId) {
        const option = document.getElementById(optionId);
        const options = document.querySelectorAll('options');

        for(o in options) {
          o.classList.replace('active', '');
        }
        option.classList.add('active');
      }
    </script>
       
 
  </body>
</html>
