{% extends "layout.html" %}
{% block title %}App Students{% endblock %}
{% block page %}App Students{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
      <form class="col s12" method="POST" action="/students">
        
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Username" name="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>

          <div class="input-field col s6">
            <input placeholder="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>

	        <div class="input-field col s6">
            <input placeholder="email" name="email" type=email class="validate">
            <label for="email">Email</label>
          </div>

        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row">

      {% if not students %}
        <p>No students</p>

      {% else %}
      <div class="table-container">
        <table class="small-table">
          <thead>
            <tr>
              <th>Id</th><th>Username</th><th>Email</th><th>To-do</th>
            </tr>
          </thead>

          <tbody>
            {% for student in students %}
              <tr>
                <td>{{student.id}}</td>
                <td>{{student.username}}</td>
		            <td>{{student.email}}</td>

                <td>
                  <ol>
                    {% for todo in student.todos %} <li>{{todo.text}}</li> {% endfor %}
                  </ol>
                </td>
              </tr>
            {% endfor %}
          <tbody>
        </table>
        </div>

      {% endif %}
    </div>

{% endblock %}