{% extends "layout.html" %}
{% block title %}Todos due on {{date.strftime("%a, %b %d, %Y")}}{% endblock %}
{% block page %}Todos due on {{date.strftime("%a, %b %d, %Y")}}{% endblock %}

{{ super() }}

{% block content %}

    <div class="row">
      <form class="col s12" method="POST" action="/todos/{{year}}_{{month}}_{{day}}">
        
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Text" name="text" type="text" class="validate">
            <label for="text">Text</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="{{current_user.id}}" value="{{current_user.id}}" name="user_id" type="number" class="validate" readonly>
            <label for="User Id">User Id</label>
          </div>

           <div class="input-field col s6">

              {% if month < 10 %}
                <input value="{{year}}-0{{month}}-{{day}}" name="due-date" type="text" class="validate" readonly>
              {% elif day < 10 %}
                <input value="{{year}}-{{month}}-0{{day}}" name="due-date" type="text" class="validate" readonly>
              {% elif day < 10 and month < 10 %}
                <input value="{{year}}-0{{month}}-0{{day}}" name="due-date" type="text" class="validate" readonly>
              {% else %}
                <input value="{{year}}-{{month}}-{{day}}" name="due-date" type="text" class="validate" readonly>
              {% endif %}

              <input name="due-time" type="time" class="validate">
              <label for="due-date">Due Date & Time</label>
          </div>

          <div class="input-field col s6">
            <select name="category" class="validate">
              <option value="personal">Personal</option>
              <option value="work">Work</option>
              <option value="school">School</option>
              <option value="shopping">Shopping</option>
              <option value="urgent">Urgent</option>
              <option value="reminder">Reminder</option>
              <option value="other">Other</option>
            </select>
            <label for="category">Category</label>
          </div>
        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row">
      {% if not todos %}
        <p>No tasks added yet</p>

      {% else %}
      <div class="table-container">
        <table class="large-table">
          <thead>
            <tr>
              <th>Task</th><th>Edit</th><th>Username</th><th>Duration</th><th>Deadline</th><th>Done</th><th>Mark as Done</th><th>Date Completed</th><th>Time Taken</th>
            </tr>
          </thead>

          <tbody>
            {% for todo in todos %}
              <tr>
                <td id="task-{{todo.id}}-text"><input class="task-input" id="task-{{todo.id}}-input" type="text" readonly value="{{todo.text}}" style="border-bottom: none;"></input></td>
                <td id="edit-button-{{todo.id}}"><a style="color: orangered;" class="material-symbols-outlined" onclick="makeTaskEditable('{{todo.id}}')">edit</a></td>
                <td>{{todo.get_username()}}</td>

                <td>{{calculate_time_elapsed(todo.date_due, todo.date_created)}}</td>
                <td>{{todo.date_due.strftime("%I:%M %p")}}</td>

                {% if todo.done %}
                  <td id="done-{{todo.id}}"><span>Yes</span></td>
                  <td id="task-checkbox-{{todo.id}}"><i style="color:limegreen;" class="material-symbols-outlined" onclick="toggleDone('{{todo.id}}')">check_box</i></td>
                 
                  {% if todo.date_completed %}
                    <td id="task-completed-{{todo.id}}">{{todo.date_completed.strftime("%a, %b %d, %Y %I:%M %p")}}</td>
                  {% endif %}
                  
                  {% if todo.date_completed %}
                    <td>{{calculate_time_elapsed(todo.date_completed, todo.date_created)}}</td>
                  {% endif %}

                {% else %}
                  <td id="done-{{todo.id}}"><span>No</span></td>
                  <td id="task-checkbox-{{todo.id}}"><i style="color:cadetblue;" class="material-symbols-outlined" onclick="toggleDone('{{todo.id}}')">check_box_outline_blank</i></td>
                  <td id="task-completed-{{todo.id}}">_</td>
                  <td>_</td>
                {% endif %}
                
                </tr>
              {% endfor %}
            <tbody>
          </table>
      </div>

      {% endif %}
    </div>

    <script src="{{ url_for('static', filename='todo.js') }}"></script>
{% endblock %}