{% extends "layout.html" %}
{% block title %}Add To-do{% endblock %}
{% block page %}Add To-do{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/users">/users</a>.
        </p>
    </div>

    <div class="row">
      <form class="col s12" method="POST" action="/todos">
        
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Text" name="text" type="text" class="validate">
            <label for="text">Text</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="User Id" name="user_id" type="number" class="validate">
            <label for="User Id">User Id</label>
          </div>
        </div>
      
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action">Submit</button>
          </div>
        </div> 

      </form>
    </div>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Text</th><th>User ID</th><th>Username</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %}
            <tr>
                <td>{{todo.id}}</td>
                <td>{{todo.text}}</td>
                <td>{{todo.user_id}}</td>
                <td>{{todo.get_username()}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

{% endblock %}